



<section>
                <div style="background:radial-gradient(white, blue)" class="jumbotron">
                    <div class="introduction">
                        <strong><h1 class="name">Ca te dis de faire tes pronos gratuitement tous les soirs de match ?</h1></strong>
                        </br></br>
                        <p>Sur ce site tu as la possibilité de parier sur tous les matchs gratuitement et gagner de l'argent. Il y'a plein de récompense possible en plus de la gloire de la victoire. Tu peux aussi créer ton équipe de parrieur et essayer de te frayer un chemin jusqu'a la premiére place des parrieur que ce soit ton equipe ou toi tout seul. Inscris toi pour en savoir plus!!!  </p>
                        </br></br></br>
                        <div class= 'link'><%= link_to '#'  do %> Sign UP <%= image_tag('twitter_logo-mini.png') %><% end %></div>
                    </div>      
                
            </br></br>

<footer class="fixed-bottom">
                <div class="footer">
			<div class="footerleft">
				<%= link_to "Publicité", '#'%>
				<%= link_to "Entreprise", '#'%>
				<%= link_to "A propos", '#'%>
				 			
			</div>
			<div class="footerright">
				
				
				<%= link_to "Info consommateurs", '#'%>
				<%= link_to "Confidentialité", '#'%>
				<%= link_to "Conditions", '#'%>
				<%= link_to "Paramètres", '#'%>
				
			</div>
		</div>

		</footer>
		</div> 
		
            </section>





